* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}



.mascara-form {
    visibility: hidden;
    transition: visibility 1s linear;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}



header {
    display: flex;
    align-items: center;
    gap: 30px;

}

header a {
    font-size: 24px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-right: 50px;
    text-align: right;

}

header a:hover {
    color: #C51111;
    transition: 0.5s color ease-in-out;

}

.logo-header {
    height: 80px;
    margin: 20px;
}

.container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;

}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;

}

.conteudo-background {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
}

.mascara-video {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}



button {
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    border-radius: 3px;
    background-color: #C51111;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20%;
    
}

button:hover {
    color: gold;
    background-color: blue;
    font-size: 15px;
    transition: 0.5s color ease-in-out;
}

.logo {
    height: 400px;
    width: 800px;
    margin: 0%;
    margin-bottom: -20%;
    margin-left: -20%;
}

.biografia {
margin-top: 0%;
margin-bottom: 10%;
}


.mario {
    height: 60%;
}

p {
    color: white;
    font-size: 20px;
}

.sobre-nos {
    max-width: 30%;
    margin-top: 100px;
}

.fale-conosco {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    left: -330px;
    transition: left 1s linear;
    z-index: 4;
    /* transform: translateX(0); */
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline-color: #18D80F;
}

textarea {
    height: 80px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline-color: #18D80F;
    padding: 10px;
}

.caixa-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mario-luigi {
    width: 50%;
    height: 100%;
}

.header {
    margin: 20px;
    justify-content: center;

}

.header img {
    display: none;
}

.header a {
    font-size: 18px;
}

.link-whatsapp img {
    height: 60px;
    position: absolute;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    cursor: pointer;

}

.caixa-mae {
    width: 100%;
    /* 100% da largura da tela */
    height: 100%;
    /* 100% da altura da tela */
    margin: 0;
    /* Remover margens padrão do body */
    padding: 0;
    /* Remover padding padrão do body */


}







.logo-dois {

    display: flex;
    flex: 1;
    height: 500px;
    width: 300px;
    border: none;
    margin-right: auto;
    margin-top: 100px;
    margin-left: 100px;
    background-size: cover;




}

section {

    background-color: rgba(244, 245, 235, 0.897);
    display: flex;
    margin-bottom: 0%;
    margin-top: 0;


    & #caixa-principal-um {

        margin-left: 10px;
        width: auto;
        /* 100% da largura da tela */
        height: 500px;
        border: 2px solid black;
        padding: 10px;





    }
}



.texto-um {

    width: 40%;
    margin-top: 10%;
    justify-content: end;
    margin-right: 100px;
    font-weight: bold;
    font-family: "Sriracha", sans-serif;
    line-height: 1.3;

    & p {
    color: rgba(0, 0, 0, 0.795);
    font-size: 35px;
    }
 

}

.botao-um {
    height: 100px;
    width: 150px;
    border-radius: 8px;
    border: none;
    background-color: rgb(8, 236, 27);
    color: black;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20%;
    font-size: 20px;
    text-align: center;
    
    & .texto-sem-sublinhado {
        text-decoration: none;
    }


}

.botao-um:hover {
    background-color: rgba(0, 0, 0, 0.61);
    
    width: 260px;
    height: 150px;
    font-size: 30px;
    border-radius: 8px;

    & .texto-sem-sublinhado {
        text-decoration: none;
        color: white;
    }
}

.logo-um {

    position: absolute;    
    margin-left: -20px;

    & .img-um {
        width: 200px;
        height: 100px;
        
        

    }
}